anyio==4.9.0
argcomplete==3.6.2
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.1.0
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.13.4
bleach==6.2.0
blivet==3.12.1
blivet-gui==2.6.0
boto3==1.40.8
botocore==1.40.8
Brlapi==0.8.6
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cloudpickle==3.1.1
cockpit @ file:///builddir/build/BUILD/cockpit-344-build/cockpit-344/tmp/wheel/cockpit-344-py3-none-any.whl#sha256=6c0da7c2cbfb1207f38f238b3011ff193c786540a0404088b52184bb35356ba0
comm==0.2.3
contourpy==1.3.3
crypt_r==3.13.1
cryptography==44.0.0
cuda-bindings==12.9.0
cuda-python==12.9.0
cudf-cu12==25.6.0
cuml-cu12==25.6.0
cupshelpers==1.0
cupy-cuda12x==13.5.1
cuvs-cu12==25.6.1
cycler==0.12.1
dasbus==1.7
dask==2025.5.0
dask-cuda==25.6.0
dask-cudf-cu12==25.6.0
dbus-python==1.3.2
dbus_next==0.2.3
debugpy==1.8.15
decorator==5.2.1
defusedxml==0.7.1
distributed==2025.5.0
distributed-ucxx-cu12==0.44.0
distro==1.9.0
dnf==4.23.0
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
fastrlock==0.8.3
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.18.0
fonttools==4.59.0
fqdn==1.5.1
fros==1.1
fsspec==2025.7.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.0
idna==3.10
ipykernel==6.30.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
iso639==0.1.4
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
langtable==0.0.69
libcomps==0.1.21
libcudf-cu12==25.6.0
libcuml-cu12==25.6.0
libcuvs-cu12==25.6.1
libdnf==0.74.0
libkvikio-cu12==25.6.0
libraft-cu12==25.6.0
librmm-cu12==25.6.0
libucx-cu12==1.18.1
libucxx-cu12==0.44.0
llvmlite==0.44.0
locket==1.0.0
louis==3.33.0
lxml==5.3.2
Mako==1.2.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
mpmath==1.3.0
msgpack==1.1.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
nftables==0.1
notebook==7.4.4
notebook_shim==0.2.4
numba==0.61.2
numba-cuda==0.11.0
numpy==2.2.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nvtx==0.2.12
olefile==0.47
openpyxl==3.1.5
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
Paste==3.10.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.1.0
platformdirs==4.3.8
ply==3.11
productmd==1.45
progressbar2==4.5.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyarrow==19.0.1
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.50.0
pyinotify==0.9.6
pykickstart==3.62
pylibcudf-cu12==25.6.0
pylibraft-cu12==25.6.0
pynvjitlink-cu12==0.7.0
pynvml==12.0.0
pyOpenSSL==25.0.0
pyparsing==3.2.3
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.8.2
python-json-logger==3.3.0
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.0
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.15.9-build/kernel-6.15.9/linux-6.15.9-201.fc42.x86_64/tools/net/ynl
pyzmq==27.0.0
raft-dask-cu12==25.6.0
RapidFuzz==3.11.0
rapids-dask-dependency==25.6.0
rapids-logger==0.1.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-file==2.0.0
requests-ftp==0.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.1.0
rmm-cu12==25.6.0
rpds-py==0.25.0
rpm==4.20.1
rpmautospec==0.8.1
rpmautospec-core==0.1.5
s3transfer==0.13.1
scikit-learn==1.7.1
scipy==1.16.0
seaborn==0.13.2
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setuptools==74.1.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.9.1
soupsieve==2.7
stack-data==0.6.3
sympy==1.14.0
systemd-python==235
tblib==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
thundersvm==0.3.12
tinycss2==1.4.0
toolz==1.0.0
torch==2.7.1
torchvision==0.22.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
treelite==4.4.1
triton==3.3.1
types-python-dateutil==2.9.0.20250708
typing_extensions==4.12.2
tzdata==2025.2
ucx-py-cu12==0.44.0
ucxx-cu12==0.44.0
uri-template==1.3.0
urllib3==2.3.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
xkbregistry==0.3
zict==3.0.0
